<div class="modal fade" id="AgregarAreaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header colorCabezalModal">
            <h1 class="modal-title letraBase fs-5" id="exampleModalLabel">
                AGREGAR NUEVA ÁREA
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {% if msg %}
                    <div class="alert alert-info">{{ msg }}</div>
                {% endif %}
                <form action="{{ url_for('nuevo_local') }}" method="POST" id="nuevoLocal">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                                    
                    <div class="modal-footer justify-content-between">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-primary" id="btnCrear">
                            Crear
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>